@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Targetcom.Models.ViewModels.FriendVM;

<style>
    .gap {
        gap: 1rem;
    }

    input[type=text] {
        border: 0;
        background-color: transparent;
        outline: 0 !important;
        font-size: 14px;
    }

    .settingsbtn:hover {
        text-decoration: none;
    }

    .anim {
        transition: 2s;
        animation: ocean 10s ease-in-out alternate infinite;
    }

    @@keyframes ocean {
        0% {
            color: #3789fb;
            text-shadow: 0 0 40px #3789fb;
        }

        100% {
            color: #b3e536;
            text-shadow: 0 0 40px #b3e536;
        }
    }

    .down {
        animation: loadDown 1s ease-in-out forwards;
    }

    @@keyframes loadDown {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }
    }
</style>
<head>
    <link href="~/css/VTabs.css" rel="stylesheet" />
</head>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" model="new Tuple<int, int>(Model.IdentityUser.Friendships.Count(w => w.FriendStatus == Env.Invite && w.FriendId == Model.IdentityUser.Id),0)" />
    <input type="hidden" id="eventor" value="@Model.EventSetter" />
    <div class="d-flex gap" style="width: 100%;">
        <div style="width: 75%;" class="d-flex flex-column rounded">
            <div class="day_back_head d-flex align-items-center p-3 border-bottom">
                <i class="fas fa-search day_color_font" style="font-size: 14px;"></i>
                <input type="text" placeholder="Enter name" class="day_back_head day_color_font" id="search" style="width: 100%;" />
            </div>
            <div class="day_back_head">
                <div id="Finded">
                    @if (Model.AllUsers.Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Not found users
                        </div>
                    }
                    <div id="Forblock">
                        @foreach (var item in Model.AllUsers)
                        {
                            <div class="d-none @item.Name @item.Surname">
                                @if (item.Id != Model.IdentityUser.Id)
                                {
                                    Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                                    {
                                        IdentityProfile = Model.IdentityUser,
                                        User = item,
                                    };
                                    <partial name="Components/PreviewProfile" model="vm" />
                                    <hr class="m-0" />
                                }
                            </div>
                        }
                    </div>
                </div>
                <hr class="day_back_main" />
                <div id="Friends">
                    @if (Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Friend).Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Does not found friends
                        </div>
                    }
                    @foreach (var item in Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Friend))
                    {
                        if (item.Friend.Id != Model.IdentityUser.Id)
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Friend,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                        else
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Profile,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                    }
                    <div class="p-2 d-flex justify-content-center">
                        @if (Model.Current_Friend_Page > 0)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="friendpag" asp-route-friendpage="@(Model.Current_Friend_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
                        }
                        @if ((Model.Current_Friend_Lenght / Env.FRIENDPEOPLE_LOADING_LIMIT) > Model.Current_Friend_Page)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="friendpag" asp-route-friendpage="@(Model.Current_Friend_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
                        }
                    </div>
                </div>
                <div id="Invites">
                    @if (Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Invite && w.ProfileId != Model.IdentityUser.Id).Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Does not found invite to friends
                        </div>
                    }
                    @foreach (var item in Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Invite && w.ProfileId != Model.IdentityUser.Id))
                    {
                        if (item.Friend.Id != Model.IdentityUser.Id)
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Friend,
                            };
                            <partial name="InviteProfile" model="vm" />
                            <hr class="m-0" />
                        }
                        else
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Profile,
                            };
                            <partial name="InviteProfile" model="vm" />
                            <hr class="m-0" />
                        }
                    }
                    <div class="p-2 d-flex justify-content-center">
                        @if (Model.Current_Invite_Page > 0)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="invitepag" asp-route-invitepage="@(Model.Current_Invite_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
                        }
                        @if ((Model.Current_Invite_Lenght / Env.FRIENDPEOPLE_LOADING_LIMIT) > Model.Current_Invite_Page)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="invitepag" asp-route-invitepage="@(Model.Current_Invite_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
                        }
                    </div>
                </div>
                <div id="Newfriends">
                    @if (Model.AllUsers.Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Doesn't not exists users
                        </div>
                    }
                    @foreach (var item in Model.AllUsers.Where(w => w.Id != Model.IdentityUser.Id).Skip(Model.Current_All_Page * Env.FRIENDPEOPLE_LOADING_LIMIT).Take(Env.FRIENDPEOPLE_LOADING_LIMIT).ToList())
                    {
                        if (item.Id != Model.IdentityUser.Id)
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                    }
                    <div class="p-2 d-flex justify-content-center">
                        @if (Model.Current_All_Page > 0)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="allpag" asp-route-allpage="@(Model.Current_All_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
                        }
                        @if ((Model.Current_All_Lenght / Env.FRIENDPEOPLE_LOADING_LIMIT) > Model.Current_All_Page)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="allpag" asp-route-allpage="@(Model.Current_All_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
                        }
                    </div>
                </div>
                <div id="Subscribers">
                    @if (Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Subscribe).Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Does not found subscribers
                        </div>
                    }
                    @foreach (var item in Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Subscribe))
                    {
                        if (item.Friend.Id != Model.IdentityUser.Id)
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Friend,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                        else
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Profile,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                    }
                    <div class="p-2 d-flex justify-content-center">
                        @if (Model.Current_Subscribe_Page > 0)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="subscribepag" asp-route-subscribepage="@(Model.Current_Subscribe_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
                        }
                        @if ((Model.Current_Subscribe_Lenght / Env.FRIENDPEOPLE_LOADING_LIMIT) > Model.Current_Subscribe_Page)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="subscribepag" asp-route-subscribepage="@(Model.Current_Subscribe_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
                        }
                    </div>
                </div>
                <div id="Blacklist">
                    @if (Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Blacklist).Count() == 0)
                    {
                        <div class="border-0 rounded day_back_head p-4 d-flex justify-content-center align-items-center day_color_main">
                            Does not found users in blacklist
                        </div>
                    }
                    @foreach (var item in Model.IdentityUser.Friendships.Where(w => w.FriendStatus == Env.Blacklist))
                    {
                        if (item.Friend.Id == Model.IdentityUser.Id)
                        {
                            Targetcom.Models.ViewModels.PreviewProfileVM vm = new Targetcom.Models.ViewModels.PreviewProfileVM()
                            {
                                IdentityProfile = Model.IdentityUser,
                                User = item.Profile,
                            };
                            <partial name="Components/PreviewProfile" model="vm" />
                            <hr class="m-0" />
                        }
                    }
                    <div class="p-2 d-flex justify-content-center">
                        @if (Model.Current_Blacklist_Page > 0)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="blacklistpag" asp-route-blacklistpage="@(Model.Current_Blacklist_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
                        }
                        @if ((Model.Current_Blacklist_Lenght / Env.FRIENDPEOPLE_LOADING_LIMIT) > Model.Current_Blacklist_Page)
                        {
                            <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="blacklistpag" asp-route-blacklistpage="@(Model.Current_Blacklist_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 25%;" class="gap d-flex flex-column">
            <div class="card border-0 day_back_head overflow-auto rounded" style="position: sticky; top: 70px;">
                <div class="card-body pt-2 pb-2 pr-0 pl-0">
                    <nav class="left-navtabs" style="width: 100%;">
                        <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="friendpag" asp-route-friendpage="@Model.Current_Friend_Page" class="navtabs-item is-active">Friends</a>
                        <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="invitepag" asp-route-invitepage="@Model.Current_Invite_Page" class="navtabs-item">Invite to friends</a>
                        <hr class="m-0 p-1" />
                        <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="allpag" asp-route-allpage="@Model.Current_All_Page" class="navtabs-item">New friens</a>
                        <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="subscribepag" asp-route-subscribepage="@Model.Current_Subscribe_Page" class="navtabs-item">Subscribers</a>
                        <hr class="m-0 p-1" />
                        <a asp-controller="Friends" asp-action="Index" asp-route-eventSelector="blacklistpag" asp-route-blacklistpage="@Model.Current_Blacklist_Page" class="navtabs-item">Blacklist</a>
                        <span class="navtabs-indicator"></span>
                    </nav>
                    <script>
                        const search = document.getElementById("search");
                        let findblock = document.getElementById("Forblock").children;
                        search.addEventListener("keyup", () => {
                            for (var i = 0; i < findblock.length; ++i) {
                                if (findblock[i].classList.contains(search.value)) {
                                    findblock[i].classList.remove("d-none");
                                }
                                else {
                                    findblock[i].classList.add("d-none");
                                }
                            }
                        });

                        let eventor = document.getElementById("eventor");
                        const indicator = document.querySelector(".navtabs-indicator");
                        const items = document.querySelectorAll(".navtabs-item");
                        let dives = new Array(document.getElementById("Friends"),
                            document.getElementById("Invites"),
                            document.getElementById("Newfriends"),
                            document.getElementById("Subscribers"),
                            document.getElementById("Blacklist"));
                        Adding();
                        if (eventor.value == "friendpag") {
                            dives[0].classList.remove("d-none");
                            handleIndicator(items[0]);
                        }
                        else if (eventor.value == "invitepag") {
                            dives[1].classList.remove("d-none");
                            handleIndicator(items[1]);
                        }
                        else if (eventor.value == "allpag") {
                            dives[2].classList.remove("d-none");
                            handleIndicator(items[2]);
                        }
                        else if (eventor.value == "subscribepag") {
                            dives[3].classList.remove("d-none");
                            handleIndicator(items[3]);
                        }
                        else if (eventor.value == "blacklistpag") {
                            dives[4].classList.remove("d-none");
                            handleIndicator(items[4]);
                        }
                        else {
                            dives[0].classList.remove("d-none");
                            handleIndicator(items[0]);
                        }
                        function handleIndicator(el) {
                            items.forEach(item => {
                                item.classList.remove("is-active");
                                item.removeAttribute("style");
                            });

                            indicator.style.height = `${el.offsetHeight}px`;
                            indicator.style.top = `${el.offsetTop}px`;
                            indicator.style.backgroundColor = el.getAttribute("active-color");

                            el.classList.add("is-active");
                            //el.style.color = "#6200ee";
                            el.style.color = "#ffffff";
                        }
                        function Adding() {
                            for (var i = 0; i < dives.length; ++i) {
                                dives[i].classList.add("d-none");
                            }
                        }
                        //for (let i = 0; i < items.length; ++i) {
                        //    items[i].addEventListener("click", e => {
                        //        Adding();
                        //        dives[i].classList.remove("d-none");
                        //        handleIndicator(e.target);
                        //    });
                        //    items[i].classList.contains("is-active") && handleIndicator(items[i]);
                        //}
                        //items.forEach((item, index) => {
                        //    item.addEventListener("click", e => {
                        //        handleIndicator(e.target);
                        //    });
                        //    item.classList.contains("is-active") && handleIndicator(item);
                        //});
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed" id="downid" style="top: 0; left:0; width: 100vw; height: 100vh; z-index: 999;">
    <div class="d-flex justify-content-center align-items-center flex-column day_back_head w-100 h-100">
        <i class="fas fa-user-friends d-flex justify-content-center anim" style="width: 100%; font-size: 10vw;"></i>
        <h2 class="day_color_font mt-4 font-weight-bold" style="letter-spacing: 2px; font-family: Montserrat, sans-serif;">Friends</h2>
    </div>
</div>

@section Scripts {
    <script>
        var before_loadtime = new Date().getTime();
        window.onload = Pageloadtime;
        function Pageloadtime() {
            var aftr_loadtime = new Date().getTime();
            pgloadtime = (aftr_loadtime - before_loadtime) / 1000
            setTimeout(() => {
                var loadscreen = document.getElementById("downid");
                loadscreen.classList.add("down");
            }, pgloadtime);
        }
    </script>
}