
@{
    ViewData["Title"] = "Coins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Profile;
<style>
    .gap {
        gap: 1rem;
    }

    .bordered {
        color: black;
    }

    .anim {
        transition: 2s;
        animation: ocean 10s ease-in-out alternate infinite;
    }

    @@keyframes ocean {
        0% {
            color: #f8e022;
            text-shadow: 0 0 40px #f8e022;
        }

        100% {
            color: #b3e536;
            text-shadow: 0 0 40px #b3e536;
        }
    }

    .down {
        animation: loadDown 1s ease-in-out forwards;
    }

    @@keyframes loadDown {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }
    }
</style>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" />
    <div class="d-flex flex-column rounded" style="width: 100%;">
        <div class="p-3 alert alert-light d-flex justify-content-center align-items-center rounded">
            <h4 class="m-0">Buy target coins</h4>
        </div>
        <div class="gap d-flex flex-column">
            <div class="d-flex gap">
                <div class="alert-success rounded p-3" style="width: 100%; height: 100%">
                    <h5 class="m-0 text-center">Lite package</h5>
                    <hr />
                    <div class="mb-3">
                        <span class="badge badge-primary m-0">Discount 30%</span>
                        <span class="badge badge-primary m-0">Vip discount 45%</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="bordered pl-2 pr-2">
                            <div class="d-flex">
                                <div class="d-flex align-items-center justify-content-center">
                                    <form method="post">
                                        <button asp-action="Coins" asp-route-package="@Env.LitePackage" class="border-0 btn-link" style="outline:0!important;"><i class="fas fa-money-check" style="font-size:35px;"></i></button>
                                    </form>
                                </div>
                                <div class="d-flex flex-column ml-4 pl-2">
                                    <p class="m-0 d-flex align-items-center" style="font-size: 16px; gap: .5rem;">
                                        @if (Model.IsPremium)
                                        {
                                            <strong>11</strong>
                                        }
                                        else
                                        {
                                            <strong>20</strong>
                                        }
                                        uan
                                    </p>
                                    <hr class="m-1" />
                                    <p class="m-0">Total: @Env.LitePackageCoin coins</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-warning rounded p-3" style="width: 100%; height: 100%">
                    <h5 class="m-0 text-center">Middle package</h5>
                    <hr />
                    <div class="mb-3">
                        <span class="badge badge-dark m-0">Discount 32%</span>
                        <span class="badge badge-dark m-0">Vip discount 41%</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="bordered pl-2 pr-2">
                            <div class="d-flex">
                                <div class="d-flex align-items-center justify-content-center">
                                    <form method="post">
                                        <button asp-action="Coins" asp-route-package="@Env.MiddlePackage" class="border-0 btn-link" style="outline:0!important;"><i class="fas fa-money-check" style="font-size:35px;"></i></button>
                                    </form>
                                </div>
                                <div class="d-flex flex-column ml-4 pl-2">
                                    <p class="m-0 d-flex align-items-center" style="font-size: 16px; gap: .5rem;">
                                        @if (Model.IsPremium)
                                        {
                                            <strong>18</strong>
                                        }
                                        else
                                        {
                                            <strong>30</strong>
                                        }
                                        uan
                                    </p>
                                    <hr class="m-1" />
                                    <p class="m-0">Total: @Env.MiddlePackageCoin coins</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex gap">
                <div class="alert-primary rounded p-3" style="width: 100%; height: 100%">
                    <h5 class="m-0 text-center">Super package</h5>
                    <hr />
                    <div class="mb-3">
                        <span class="badge badge-success m-0">Discount 20%</span>
                        <span class="badge badge-success m-0">Vip discount 35%</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="bordered pl-2 pr-2">
                            <div class="d-flex">
                                <div class="d-flex align-items-center justify-content-center">
                                    <form method="post">
                                        <button asp-action="Coins" asp-route-package="@Env.SuperPackage" class="border-0 btn-link" style="outline:0!important;"><i class="fas fa-money-check" style="font-size:35px;"></i></button>
                                    </form>
                                </div>
                                <div class="d-flex flex-column ml-4 pl-2">
                                    <p class="m-0 d-flex align-items-center" style="font-size: 16px; gap: .5rem;">
                                        @if (Model.IsPremium)
                                        {
                                            <strong>117</strong>
                                        }
                                        else
                                        {
                                            <strong>180</strong>
                                        }
                                        uan
                                    </p>
                                    <hr class="m-1" />
                                    <p class="m-0">Total: @Env.SuperPackageCoin coins</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-danger rounded p-3" style="width: 100%; height: 100%">
                    <h5 class="m-0 text-center">Rich package</h5>
                    <hr />
                    <div class="mb-3">
                        <span class="badge badge-primary m-0">Discount 20%</span>
                        <span class="badge badge-primary m-0">Vip discount 35%</span>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="bordered pl-2 pr-2">
                            <div class="d-flex">
                                <div class="d-flex align-items-center justify-content-center">
                                    <form method="post">
                                        <button asp-action="Coins" asp-route-package="@Env.RichPackage" class="border-0 btn-link" style="outline:0!important;"><i class="fas fa-money-check" style="font-size:35px;"></i></button>
                                    </form>
                                </div>
                                <div class="d-flex flex-column ml-4 pl-2">
                                    <p class="m-0 d-flex align-items-center" style="font-size: 16px; gap: .5rem;">
                                        @if (Model.IsPremium)
                                        {
                                            <strong>260</strong>
                                        }
                                        else
                                        {
                                            <strong>400</strong>
                                        }
                                        uan
                                    </p>
                                    <hr class="m-1" />
                                    <p class="m-0">Total: @Env.RichPackageCoin coins</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed" id="downid" style="top: 0; left:0; width: 100vw; height: 100vh; z-index: 999;">
    <div class="d-flex justify-content-center align-items-center flex-column day_back_head w-100 h-100">
        <i class="fas fa-coins d-flex justify-content-center anim" style="width: 100%; font-size: 10vw;"></i>
        <h2 class="day_color_font mt-4 font-weight-bold" style="letter-spacing: 2px; font-family: Montserrat, sans-serif;">Coins</h2>
    </div>
</div>

@section Scripts {
    <script>
        var before_loadtime = new Date().getTime();
        window.onload = Pageloadtime;
        function Pageloadtime() {
            var aftr_loadtime = new Date().getTime();
            pgloadtime = (aftr_loadtime - before_loadtime) / 1000
            setTimeout(() => {
                var loadscreen = document.getElementById("downid");
                loadscreen.classList.add("down");
            }, pgloadtime);
        }
    </script>
}