@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<style>
    .hovered:hover {
        background-color: #ebebeb;
    }
    .night .hovered:hover {
        background-color: #141414;
    }
</style>
<ul class="nav nav-pills flex-column">
    <li class="nav-item hovered"><a class="nav-link day_color_main @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">General</a></li>
    <li class="nav-item hovered"><a class="nav-link day_color_main @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Recovery Email</a></li>
    <li class="nav-item hovered"><a class="nav-link day_color_main @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Recovery Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link day_color_main @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li>
        <hr class="m-0" style="width: 100%"/>
    </li>
    <li class="nav-item hovered"><a class="nav-link day_color_main @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
