@model Profile;

<div class="d-flex p-3">
    @if (@Model.UrlAvatar == Targetcom.Env.DefaultImageUrl)
    {
        <img src="@Env.DefaultImageUrl" alt="Avatar" class="img-card rounded-circle" style="width: 70px; height: 70px;" />
    }
    else
    {
        <img src="@Model.UrlAvatar" alt="Avatar" class="img-card rounded-circle" style="width: 70px; height: 70px;" />
    }
    <div class="d-flex flex-column ml-3">
        <a href="#" class="m-0 font-weight-normal day_color_main">@Model.Name @Model.Surname</a>
        <div class="d-flex gap">
            <a asp-controller="Friends" asp-action="ViewProfile" asp-route-Id="@Model.Id" class="day_color_main" style="font-size: 14px;">View profile</a>
            <a href="#" class="day_color_main" style="font-size: 14px;">Add friends</a>
        </div>
    </div>
    <a href="#" class="day_color_font ml-auto"><i class="fas fa-ellipsis-h day_color_font settingsbtn"></i></a>
</div>
