@{
    ViewData["Title"] = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Targetcom.Models.ViewModels.ProfileVM;
<style>
    .gap {
        gap: 1rem;
    }

    .card-footer .d-flex > a:hover {
        text-decoration: none;
    }

    .viewallbtn {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .viewallbtn:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .dropbtn {
        color: white;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        transition: .2s;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        right: 0;
        transition: .2s;
    }

        .dropdown-content button {
            display: block;
            white-space: nowrap;
        }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .disable {
        display: none;
    }

    .btnedit {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .btnedit:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .middletabbtn:hover {
        text-decoration: none;
    }

    .middletabbtn1 {
        background-color: transparent;
        text-decoration: none;
    }

        .middletabbtn1:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .btnlike:hover {
        text-decoration: none;
    }

    img {
        object-fit: cover;
    }

    .added {
        background: #e9e9e9
    }

    .night .added {
        background: #313131
    }

    .anim {
        transition: 2s;
        animation: ocean 10s ease-in-out alternate infinite;
    }

    @@keyframes ocean {
        0% {
            color: #7441f3;
            text-shadow: 0 0 40px #7441f3;
        }

        100% {
            color: #b3e536;
            text-shadow: 0 0 40px #b3e536;
        }
    }

    .down {
        animation: loadDown 1s ease-in-out forwards;
    }

    @@keyframes loadDown {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }
    }

    .hover {
        transition: .2s;
        filter: brightness(100%);
    }

        .hover:hover {
            filter: brightness(90%);
        }

    .night .hover:hover {
        filter: brightness(150%);
    }

    .post .likes {
        display: none;
    }

    .post:hover .likes {
        display: flex;
    }
</style>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" model="new Tuple<int, int>(Model.IdentityProfile.Friendships.Count(w => w.FriendStatus == Env.Invite && w.FriendId == Model.IdentityProfile.Id),0)" />

    <div style="width: 100%" class="d-flex flex-column">
        <div class="border-0 rounded">
            <div class="d-flex flex-wrap" style="gap: 1.2rem;">
                @foreach (var item in Model.IdentityProfile.ProfilePostages.OrderByDescending(i => i.TimeStamp))
                {
                    var id = $"item{item.Id}";
                    <div class="d-flex flex-column rounded day_back_default" style="width:240px;">
                        <div class="d-flex justify-content-center">
                            <img src="@item.Content" class="rounded " style="width:240px; height:240px;" />
                        </div>
                        <div class="p-3 d-flex justify-content-center align-items-center border-bottom" style="gap: 5px;">
                            @using (Html.BeginForm(FormMethod.Post))
                            {
                                @if (!item.IsNessessaredLikedPost)
                                {
                                    if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                    {
                                        <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover position-relative post" style="height: 40px; min-width: 60px">
                                            <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId).ProfileId" style="outline:0!important;">
                                                <i class="fas fa-heart"></i>
                                                @if (item.LikedProfiles.Count != 0)
                                                {
                                                    <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                    <div class="position-absolute rounded-pill day_back_headlight pt-1 pb-1 pr-2 pl-2 likes gap shadow" style="top: -60px; left:0;">
                                                        @foreach (var like in item.LikedProfiles.Take(3))
                                                        {
                                                            <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                                                        }
                                                    </div>
                                                }
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover position-relative post" style="height: 40px; min-width: 60px">
                                            <button type="submit" class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                <i class="far fa-heart text-primary d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                @if (item.LikedProfiles.Count != 0)
                                                {
                                                    <strong class="ml-1 m-0 text-muted">@item.LikedProfiles.Count</strong>
                                                    <div class="position-absolute rounded-pill day_back_headlight pt-1 pb-1 pr-2 pl-2 likes gap shadow" style="top: -60px; left:0;">
                                                        @foreach (var like in item.LikedProfiles.Take(3))
                                                        {
                                                            <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                                                        }
                                                    </div>
                                                }
                                            </button>
                                        </div>
                                    }
                                }
                            }
                            @if (!item.IsNessessaredCommentedPost)
                            {
                                @if (item.IsObject)
                                {
                                    <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover"
                                         data-toggle="modal" data-target="#@id"
                                         style="height: 40px; min-width: 60px">
                                        <a class="btn-link border-0 day_color_main bg-transparent d-flex justify-content-center align-items-center text-decoration-none"
                                           style="outline:0!important; cursor:pointer;">
                                            <i class="far fa-comment-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                            @if (item.ProfilePostageComments.Count > 0)
                                            {
                                                <strong class="ml-1 m-0 text-muted">@item.ProfilePostageComments.Count</strong>
                                            }
                                        </a>
                                    </div>
                                }
                                <div class="modal fade" id="@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-body p-0 d-flex border-0 rounded" style="height: 400px; font-size: 14px;">
                                                <img src="@item.Content" alt="Post" style="width:400px; height:400px;"/>
                                                <div class="d-flex flex-column p-3 day_back_head border-0" style="white-space: nowrap; width: 100%;">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <img src="@item.Profile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                            <div class="d-flex flex-column ml-2 justify-content-center">
                                                                @if (@item.Profile.Id == Model.IdentityProfile.Id)
                                                                {
                                                                    <div class="m-0 d-flex align-items-center day_color_main" style="cursor: pointer;">
                                                                        <a class="m-0 d-flex align-items-center day_color_main" asp-controller="Profile" asp-action="Index" style="cursor: pointer;">@item.Profile.Name @item.Profile.Surname</a>
                                                                        @if (item.Profile.IsVerify)
                                                                        {
                                                                            <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                        }
                                                                        <span class="text-muted ml-2">@item.Alert</span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="m-0 d-flex align-items-center day_color_main" style="cursor: pointer;">
                                                                        <a class="m-0 d-flex align-items-center day_color_main" asp-controller="Friends" asp-action="ViewProfile" asp-route-id="@item.Profile.Id" style="cursor: pointer;">@item.Profile.Name @item.Profile.Surname</a>
                                                                        @if (item.Profile.IsVerify)
                                                                        {
                                                                            <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                        }
                                                                        <span class="text-muted ml-2">@item.Alert</span>
                                                                    </div>
                                                                }
                                                                <p class="m-0 text-muted">@item.TimeStamp.ToString("dd.MM.yyyy")</p>
                                                            </div>
                                                        </div>
                                                        <a class="text-decoration-none" data-dismiss="modal" aria-label="Close">
                                                            <i class="fas fa-times text-muted" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                    <hr class="mt-3 mb-3 ml-0 mr-0"/>
                                                    <div class="d-flex flex-column gap overflow-auto" style="height: 15.5rem;">
                                                        @if (!item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Any())
                                                        {
                                                            <h4 class="text-center day_color_font">Write first comment</h4>
                                                        }
                                                        @for (int comment = 0; comment < item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Count(); ++comment)
                                                        {
                                                            <div class="d-flex" style="width: 100%;">
                                                                <img src="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                                    <div class="d-flex">
                                                                        @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Id == Model.IdentityProfile.Id)
                                                                        {
                                                                            <a class="m-0 day_color_main" asp-controller="Profile" asp-action="Index" style="cursor: pointer;">
                                                                                @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                {
                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                                                }
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="m-0 day_color_main" asp-controller="Friends" asp-action="ViewProfile" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Id" style="cursor: pointer;">
                                                                                @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                {
                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                                                }
                                                                            </a>
                                                                        }
                                                                        @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                        {
                                                                            <p class="m-0 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("dd.MM.yyyy")</p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="m-0 ml-2 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("dd.MM.yyyy")</p>
                                                                        }
                                                                        <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                                            @if (item.ProfileId == Model.IdentityProfile.Id)
                                                                            {
                                                                                <div class="dropdown">
                                                                                    <a class="dropbtn day_color_main" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 18px;"></i></a>
                                                                                    <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                        <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                            else if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentatorId == Model.IdentityProfile.Id)
                                                                            {
                                                                                <div class="dropdown">
                                                                                    <a class="dropbtn day_color_main" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 18px;"></i></a>
                                                                                    <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                        <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    <p class="m-0">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <hr class="mt-2 mb-3 ml-0 mr-0" />
                                                    <div class="d-flex gap">
                                                        @if (!item.IsNessessaredLikedPost)
                                                        {
                                                            if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                            {
                                                                <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                                    <button type="submit" class="btn-link border-0 m-0 bg-transparent text-danger d-flex justify-content-center align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                                        <i class="fas fa-heart d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                                        @if (item.LikedProfiles.Count != 0)
                                                                        {
                                                                            <strong class="ml-1 m-0 text-danger">@item.LikedProfiles.Count</strong>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                                    <button type="submit" class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                        <i class="far fa-heart text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                                        @if (item.LikedProfiles.Count != 0)
                                                                        {
                                                                            <strong class="ml-1 m-0 text-muted">@item.LikedProfiles.Count</strong>
                                                                        }
                                                                    </button>
                                                                </div>
                                                            }
                                                        }
                                                        <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover"
                                                             style="height: 40px; min-width: 60px">
                                                            <a class="btn-link border-0 day_color_main bg-transparent d-flex justify-content-center align-items-center text-decoration-none"
                                                               style="outline:0!important;">
                                                                <i class="far fa-comment-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                                @if (@item.ProfilePostageComments.Count > 0)
                                                                {
                                                                    <strong class="ml-1 m-0 text-muted">@item.ProfilePostageComments.Count</strong>
                                                                }
                                                            </a>
                                                        </div>
                                                        @if (!item.IsNessessaredSharedPost)
                                                        {
                                                            if (item.ProfileId == Model.IdentityProfile.Id)
                                                            {
                                                                <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                                    <a class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none day_color_main" style="outline:0!important;">
                                                                        <i class="fas fa-share-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                                        @if (item.SharedProfiles.Count != 0)
                                                                        {
                                                                            <strong class="ml-1 text-muted">@item.SharedProfiles.Count</strong>
                                                                        }
                                                                    </a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                if (item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                                {
                                                                    <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                                        <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-controller="Home" asp-action="DissharePostagePost" asp-route-id="@item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                                            <i class="fas fa-share-alt"></i>
                                                                            @if (item.SharedProfiles.Count != 0)
                                                                            {
                                                                                <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                            }
                                                                        </button>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                                        <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-controller="Home" asp-action="SharePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                            <i class="fas fa-share-alt"></i>
                                                                            @if (item.SharedProfiles.Count != 0)
                                                                            {
                                                                                <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                            }
                                                                        </button>
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (!item.IsNessessaredSharedPost)
                            {
                                <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 position-relative post" style="height: 40px; min-width: 60px">
                                    <a class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none day_color_main" style="outline:0!important;">
                                        <i class="fas fa-share-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                        @if (item.SharedProfiles.Count != 0)
                                        {
                                            <strong class="ml-1 text-muted">@item.SharedProfiles.Count</strong>
                                            <div class="position-absolute rounded-pill day_back_headlight pt-2 pb-2 pr-3 pl-3 likes gap shadow" style="top: -60px; left:0;">
                                                @foreach (var like in item.SharedProfiles.Take(3))
                                                {
                                                    <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                                                }
                                            </div>
                                        }
                                    </a>
                                </div>

                            }
                            <div class="dropdown">
                                <button class="dropbtn" style="outline:0!important;"><i class="fas fa-chevron-down text-muted ml-auto" style="font-size: 16px;"></i></button>
                                <div class="dropdown-content day_back_head rounded p-2 shadow">
                                    @using (Html.BeginForm(FormMethod.Post))
                                    {
                                        <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-controller="Images" asp-action="SetAvatar" asp-route-url="@item.Content" style="outline:0!important;">Set as avatar</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <a data-toggle="modal" data-target="#exampleModal" class="d-flex flex-column justify-content-center align-items-center rounded added" style="width: 216px; min-height: 232px;">
                    <i class="fas fa-plus-circle text-muted p-0 m-0" style="font-size:69px; transform: translateX(-90%);"></i>
                </a>

                

                @using (Html.BeginForm(FormMethod.Post))
                {
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content day_back_head">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add new photo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group m-0">
                                        <input placeholder="Enter url image" name="content" class="form-control border-0 day_back_default day_color_font" style="font-size: 14px;" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn day_back_main text-light" asp-controller="Images" asp-action="PublishPost">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="p-2 d-flex justify-content-center mt-auto">
            @if (Model.Current_AllPost_Page > 0)
            {
                <a asp-controller="Images" asp-action="Index" asp-route-page="@(Model.Current_AllPost_Page - 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 navbtn"><i class="fas fa-arrow-left m-0 mr-2"></i>Prev</a>
            }
            @if ((Model.Current_AllPost_Lenght / Env.IMAGE_LOADING_LIMIT) > Model.Current_AllPost_Page)
            {
                <a asp-controller="Images" asp-action="Index" asp-route-page="@(Model.Current_AllPost_Page + 1)" class="p-3 d-flex align-items-center text-decoration-none text-light day_back_main rounded border-0 ml-3 navbtn">Next <i class="fas fa-arrow-right m-0 ml-2"></i></a>
            }
        </div>
    </div>
</div>

<div class="position-fixed" id="downid" style="top: 0; left:0; width: 100vw; height: 100vh; z-index: 999;">
    <div class="d-flex justify-content-center align-items-center flex-column day_back_head w-100 h-100">
        <i class="fas fa-images d-flex justify-content-center anim" style="width: 100%; font-size: 10vw;"></i>
        <h2 class="day_color_font mt-4 font-weight-bold" style="letter-spacing: 2px; font-family: Montserrat, sans-serif;">Images</h2>
    </div>
</div>

@section Scripts {
    <script>
        var before_loadtime = new Date().getTime();
        window.onload = Pageloadtime;
        function Pageloadtime() {
            var aftr_loadtime = new Date().getTime();
            pgloadtime = (aftr_loadtime - before_loadtime) / 1000
            setTimeout(() => {
                var loadscreen = document.getElementById("downid");
                loadscreen.classList.add("down");
            }, pgloadtime);
        }
    </script>
}