@{
    ViewData["Title"] = $"{Model.IdentityProfile.Name} {Model.IdentityProfile.Surname}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Targetcom.Models.ViewModels.ProfileVM;

<style>
    .gap {
        gap: 1rem;
    }

    .card-footer .d-flex > a:hover {
        text-decoration: none;
    }

    .viewallbtn {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .viewallbtn:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .disable {
        display: none;
    }

    .btnedit {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .btnedit:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .middletabbtn:hover {
        text-decoration: none;
    }

    .middletabbtn1 {
        background-color: transparent;
        text-decoration: none;
    }

        .middletabbtn1:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    #summernote {
        font-size: 14px;
        outline: 0 !important;
        border: 0;
    }
</style>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" />
    @*Banned*@
    @if (false)
    {
        <div style="width: 80%;" class="gap d-flex flex-column">
            <div class="alert alert-danger p-5 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                <h5 class="m-0">This user is banned <i class="fas fa-ban" style="font-size: 18px;"></i></h5>
            </div>
        </div>
    }
    else
    {
        <div style="width: 25%;" class="gap d-flex flex-column">
            <div class="day_back_head p-4 d-flex flex-column gap overflow-hidden">
                <div>
                    @if (Model.IdentityProfile.UrlAvatar == Targetcom.Env.DefaultImageUrl)
                    {
                        <img src="@Env.DefaultImageUrl" alt="Avatar" class="img-card rounded" style="width: 200px; height: 200px;" />
                    }
                    else
                    {
                        <img src="@Model.IdentityProfile.UrlAvatar" alt="Avatar" class="img-card rounded" style="width: 200px; height: 200px;" />
                    }
                </div>
                <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="btn day_back_main text-light pl-4 pr-4" style="font-size: 14px;">Update</a>
                <a asp-controller="Friends" asp-action="Blacklist" class="btn middletabbtn1 text-muted border pl-4 pr-4" style="font-size: 14px;">View blacklist</a>
            </div>
            @** If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head">
                    <div class="p-3 overflow-hidden">
                        <a asp-controller="Friends" asp-action="Index" class="m-0 middletabbtn">Friends: <span class="text-muted">25</span></a>
                        <hr />
                        <div class="d-flex flex-wrap" style="gap: .8rem;">
                            @for (int i = 0; i < 6; i++)
                            {
                                <div class="d-flex flex-column align-items-center p-2 overflow-hidden" style="width: 60px;">
                                    <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                    <p class="m-0">Name</p>
                                </div>
                            }
                        </div>
                    </div>
                    <hr class="m-0" />
                    <div class="p-3 overflow-hidden">
                        <a asp-controller="Friends" asp-action="Index" class="m-0 middletabbtn">Friends online: <span class="text-muted">4</span></a>
                        <div class="d-flex justify-content-between" style="gap: .8rem;">
                            @for (int i = 0; i < 3; i++)
                            {
                                <div class="d-flex flex-column align-items-center p-2 overflow-hidden">
                                    <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                    <p class="m-0">Name</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @** If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head p-3 overflow-hidden">
                    <a asp-controller="Friends" asp-action="Subscribers" class="m-0 middletabbtn">Subscribers: <span class="text-muted">135</span></a>
                    <hr />
                    <div class="d-flex flex-wrap" style="gap: .8rem;">
                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="d-flex flex-column align-items-center p-2 overflow-hidden" style="width: 60px;">
                                <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                <p class="m-0">Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
            @* If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head p-3 overflow-hidden" style="position: sticky; top: 70px;">
                    <a asp-controller="Communities" asp-action="Index" class="m-0 middletabbtn">Communities: <span class="text-muted">23</span></a>
                    <hr />
                    <div style="gap: .8rem;">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="d-flex align-items-center p-2 overflow-hidden">
                                <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                <p class="m-0 ml-2">Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div style="width: 55%" class="gap d-flex flex-column overflow-hidden">

            <div class="card day_back_head border-0">
                <div class="card-body p-3" style="display: grid; font-family: Poppins, sans-serif;">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <h4 class="m-0 font-weight-normal d-flex align-items-center" style="font-family: Poppins, sans-serif;">
                                @Model.IdentityProfile.Name @Model.IdentityProfile.Surname
                                @if (Model.IdentityProfile.IsVerify)
                                {<i class="fas fa-check day_color_main ml-2" style="font-size: 13px;"></i>}
                            </h4>
                            <p class="m-0 text-muted font-weight-normal" style="font-size: 14px;">@Model.IdentityProfile.AfkStatus</p>
                        </div>
                        <p class="m-0" style="font-family: Poppins, sans-serif;">@Model.IdentityProfile.Quote</p>
                    </div>
                    <hr style="height: 2px; width: 100%;" />
                    @if (User.IsInRole(Env.AdminRole))
                    {
                        <div class="alert alert-danger p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">This user is Admin <i class="fas fa-code" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    @if (User.IsInRole(Env.ModerRole))
                    {
                        <div class="alert alert-warning p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">This user is Moderator <i class="fas fa-glasses" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    @if (Model.IdentityProfile.IsPremium)
                    {
                        <div class="alert alert-warning p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">Premium plan (Permanent) <i class="fas fa-crown" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Vip" asp-action="Index" class="alert middletabbtn1 border-0 p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">Buy premium plan, 30 starter days - free!</p>
                        </a>
                    }
                    <hr class="mt-0" style="height: 2px; width: 100%;" />
                    <div class="d-flex">
                        <p class="text-muted m-0" style="width: 12rem;">Birthday:</p>
                        <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Age.ToLongDateString()</p>
                    </div>
                    @if (Model.IdentityProfile.JobGeoplace != null)
                    {
                        @if (Model.IdentityProfile.JobGeoplace.Length > 0)
                        {
                            <div class="d-flex">
                                <p class="text-muted m-0" style="width: 12rem;">Job place:</p>
                                <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.JobGeoplace</p>
                            </div>
                        }
                    }
                    <hr style="height: 2px; width: 100%;" />
                    <div class="viewalldata disable">
                        @if (Model.IdentityProfile.Status != null)
                        {
                            @if (Model.IdentityProfile.Status.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Status:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Status</p>
                                </div>
                            }
                        }
                        @if (Model.IdentityProfile.StudyGeoplace != null)
                        {
                            @if (Model.IdentityProfile.StudyGeoplace.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Study place:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.StudyGeoplace</p>
                                </div>
                                <br />
                            }
                        }
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Coins:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.TargetCoins</p>
                        </div>
                        <br />
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Genger:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Gender</p>
                        </div>
                        @if (Model.IdentityProfile.Hobbies != null)
                        {
                            @if (Model.IdentityProfile.Hobbies.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Hobbies:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Hobbies</p>
                                </div>
                            }
                        }
                        <br />
                        @if (Model.IdentityProfile.PhoneNumber != null)
                        {
                            @if (Model.IdentityProfile.PhoneNumber.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Number:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.PhoneNumber</p>
                                </div>
                            }
                        }
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Email:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Email</p>
                        </div>
                        <hr style="height: 2px; width: 100%;" />
                    </div>
                    <a href="#" class="viewallbtn rounded day_color_main p-2 text-center">View all</a>
                    <script>
                        document.querySelector(".viewallbtn").addEventListener("click", () => {
                            document.querySelector(".viewalldata").classList.toggle("disable");
                        });
                    </script>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-around" style="font-family: Poppins, sans-serif;">
                        <a asp-controller="Friends" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">25</span> <span class="text-muted">Friends</span></a>
                        <a asp-controller="Friends" asp-action="Subscribers" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">135</span> <span class="text-muted">Subscribers</span></a>
                        <a asp-controller="Images" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">745</span> <span class="text-muted">Images</span></a>
                        <a asp-controller="Songs" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">1104</span> <span class="text-muted">Songs</span></a>
                    </div>
                </div>
            </div>
            <div class="card border day_back_head overflow-auto rounded">
                <div class="card-body p-2">
                    <textarea class="form-control item-font m-0 rounded-0" id="summernote" placeholder="Tell us what's new?"></textarea>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        @if (Model.IdentityProfile.UrlAvatar == Targetcom.Env.DefaultImageUrl)
                        {
                            <img src="@Env.DefaultImageUrl" alt="Avatar" class="img-card rounded-circle" style="width: 32px; height: 32px;" />
                        }
                        else
                        {
                            <img src="@Model.IdentityProfile.UrlAvatar" alt="Avatar" class="img-card rounded-circle" style="width: 32px; height: 32px;" />
                        }
                        <div class="d-flex flex-column ml-2">
                            <p class="m-0 day_color_main" style="font-size: 14px;">
                                @Model.IdentityProfile.Name
                                @Model.IdentityProfile.Surname
                                @if (Model.IdentityProfile.IsVerify)
                                {
                                    <i class="fas fa-check" style="font-size: 13px;"></i>
                                }
                            </p>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn day_back_main text-light pl-4 pr-4" style="font-size: 14px;">Publish</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $('#summernote').summernote({
            tabsize: 2,
            height: 120,
        });
    </script>
}

