@{
    ViewData["Title"] = $"{Model.IdentityProfile.Name} {Model.IdentityProfile.Surname}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Targetcom.Models.ViewModels.ProfileVM;

<style>
    .gap {
        gap: 1rem;
    }

    .card-footer .d-flex > a:hover {
        text-decoration: none;
    }

    .viewallbtn {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .viewallbtn:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .disable {
        display: none;
    }

    .btnedit {
        width: 100%;
        font-family: Poppins, sans-serif;
    }

        .btnedit:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    .middletabbtn:hover {
        text-decoration: none;
    }

    .middletabbtn1 {
        background-color: transparent;
        text-decoration: none;
    }

        .middletabbtn1:hover {
            background-color: #eeeeee;
            text-decoration: none;
        }

    #summernote {
        font-size: 14px;
        outline: 0 !important;
        border: 0;
    }


    .dropbtn {
        color: white;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        transition: .2s;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        right: 0;
        transition: .2s;
    }

        /* Links inside the dropdown */
        .dropdown-content button {
            display: block;
        }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .btnlike:hover {
        text-decoration: none;
    }

    img {
        object-fit: cover;
    }
</style>
<div class="gap d-flex gap day_color_font" style="font-family: Poppins, sans-serif;">
    <partial name="SideBar" />
    @*Banned*@
    @if (false)
    {
        <div style="width: 80%;" class="gap d-flex flex-column">
            <div class="alert alert-danger p-5 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                <h5 class="m-0">This user is banned <i class="fas fa-ban" style="font-size: 18px;"></i></h5>
            </div>
        </div>
    }
    else
    {
        <div style="width: 25%;" class="gap d-flex flex-column">
            <div class="day_back_head p-4 d-flex flex-column gap overflow-hidden">
                <div>
                    @if (Model.IdentityProfile.UrlAvatar == Targetcom.Env.DefaultImageUrl)
                    {
                        <img src="@Env.DefaultImageUrl" alt="Avatar" class="img-card rounded" style="width: 200px; height: 200px;" />
                    }
                    else
                    {
                        <img src="@Model.IdentityProfile.UrlAvatar" alt="Avatar" class="img-card rounded" style="width: 200px; height: 200px;" />
                    }
                </div>
                <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="btn day_back_main text-light pl-4 pr-4" style="font-size: 14px;">Update</a>
                <a asp-controller="Friends" asp-action="Blacklist" class="btn middletabbtn1 text-muted border pl-4 pr-4" style="font-size: 14px;">View blacklist</a>
            </div>
            @** If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head">
                    <div class="p-3 overflow-hidden">
                        <a asp-controller="Friends" asp-action="Index" class="m-0 middletabbtn">Friends: <span class="text-muted">25</span></a>
                        <hr />
                        <div class="d-flex flex-wrap" style="gap: .8rem;">
                            @for (int i = 0; i < 6; i++)
                            {
                                <div class="d-flex flex-column align-items-center p-2 overflow-hidden" style="width: 60px;">
                                    <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                    <p class="m-0">Name</p>
                                </div>
                            }
                        </div>
                    </div>
                    <hr class="m-0" />
                    <div class="p-3 overflow-hidden">
                        <a asp-controller="Friends" asp-action="Index" class="m-0 middletabbtn">Friends online: <span class="text-muted">4</span></a>
                        <div class="d-flex justify-content-between" style="gap: .8rem;">
                            @for (int i = 0; i < 3; i++)
                            {
                                <div class="d-flex flex-column align-items-center p-2 overflow-hidden">
                                    <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                    <p class="m-0">Name</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @** If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head p-3 overflow-hidden">
                    <a asp-controller="Friends" asp-action="Subscribers" class="m-0 middletabbtn">Subscribers: <span class="text-muted">135</span></a>
                    <hr />
                    <div class="d-flex flex-wrap" style="gap: .8rem;">
                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="d-flex flex-column align-items-center p-2 overflow-hidden" style="width: 60px;">
                                <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                <p class="m-0">Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
            @* If 0 friends *@
            @if (false)
            {

            }
            else
            {
                <div class="border-0 rounded day_back_head p-3 overflow-hidden" style="position: sticky; top: 70px;">
                    <a asp-controller="Communities" asp-action="Index" class="m-0 middletabbtn">Communities: <span class="text-muted">23</span></a>
                    <hr />
                    <div style="gap: .8rem;">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="d-flex align-items-center p-2 overflow-hidden">
                                <div class="bg-dark rounded-circle" style="width: 38px; height: 38px;"></div>
                                <p class="m-0 ml-2">Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div style="width: 55%" class="gap d-flex flex-column overflow-hidden">

            <div class="card day_back_head border-0">
                <div class="card-body p-3" style="display: grid; font-family: Poppins, sans-serif;">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <h4 class="m-0 font-weight-normal d-flex align-items-center" style="font-family: Poppins, sans-serif;">
                                @Model.IdentityProfile.Name @Model.IdentityProfile.Surname
                                @if (Model.IdentityProfile.IsVerify)
                                {<i class="fas fa-check day_color_main ml-2" style="font-size: 13px;"></i>}
                            </h4>
                            <p class="m-0 text-muted font-weight-normal" style="font-size: 14px;">@Model.IdentityProfile.AfkStatus</p>
                        </div>
                        <p class="m-0" style="font-family: Poppins, sans-serif;">@Model.IdentityProfile.Quote</p>
                    </div>
                    <hr style="height: 2px; width: 100%;" />
                    @if (User.IsInRole(Env.AdminRole))
                    {
                        <div class="alert alert-danger p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">This user is Admin <i class="fas fa-code" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    @if (User.IsInRole(Env.ModerRole))
                    {
                        <div class="alert alert-warning p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">This user is Moderator <i class="fas fa-glasses" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    @if (Model.IdentityProfile.IsPremium)
                    {
                        <div class="alert alert-warning p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">Premium plan (Permanent) <i class="fas fa-crown" style="font-size: 13px;"></i></p>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Vip" asp-action="Index" class="alert middletabbtn1 border-0 p-2 d-flex justify-content-center align-items-center" style="font-family: Poppins, sans-serif;">
                            <p class="m-0">Buy premium plan, 30 starter days - free!</p>
                        </a>
                    }
                    <hr class="mt-0" style="height: 2px; width: 100%;" />
                    <div class="d-flex">
                        <p class="text-muted m-0" style="width: 12rem;">Birthday:</p>
                        <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Age.ToLongDateString()</p>
                    </div>
                    @if (Model.IdentityProfile.JobGeoplace != null)
                    {
                        @if (Model.IdentityProfile.JobGeoplace.Length > 0)
                        {
                            <div class="d-flex">
                                <p class="text-muted m-0" style="width: 12rem;">Job place:</p>
                                <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.JobGeoplace</p>
                            </div>
                        }
                    }
                    <hr style="height: 2px; width: 100%;" />
                    <div class="viewalldata disable">
                        @if (Model.IdentityProfile.Status != null)
                        {
                            @if (Model.IdentityProfile.Status.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Status:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Status</p>
                                </div>
                            }
                        }
                        @if (Model.IdentityProfile.StudyGeoplace != null)
                        {
                            @if (Model.IdentityProfile.StudyGeoplace.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Study place:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.StudyGeoplace</p>
                                </div>
                                <br />
                            }
                        }
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Coins:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.TargetCoins</p>
                        </div>
                        <br />
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Genger:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Gender</p>
                        </div>
                        @if (Model.IdentityProfile.Hobbies != null)
                        {
                            @if (Model.IdentityProfile.Hobbies.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Hobbies:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Hobbies</p>
                                </div>
                            }
                        }
                        <br />
                        @if (Model.IdentityProfile.PhoneNumber != null)
                        {
                            @if (Model.IdentityProfile.PhoneNumber.Length > 0)
                            {
                                <div class="d-flex">
                                    <p class="text-muted m-0" style="width: 12rem;">Number:</p>
                                    <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.PhoneNumber</p>
                                </div>
                            }
                        }
                        <div class="d-flex">
                            <p class="text-muted m-0" style="width: 12rem;">Email:</p>
                            <p class="day_color_main ml-2 m-0">@Model.IdentityProfile.Email</p>
                        </div>
                        <hr style="height: 2px; width: 100%;" />
                    </div>
                    <a href="#" class="viewallbtn rounded day_color_main p-2 text-center">View all</a>
                    <script>
                        document.querySelector(".viewallbtn").addEventListener("click", () => {
                            document.querySelector(".viewalldata").classList.toggle("disable");
                        });
                    </script>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-around" style="font-family: Poppins, sans-serif;">
                        <a asp-controller="Friends" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">25</span> <span class="text-muted">Friends</span></a>
                        <a asp-controller="Friends" asp-action="Subscribers" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">135</span> <span class="text-muted">Subscribers</span></a>
                        <a asp-controller="Images" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">745</span> <span class="text-muted">Images</span></a>
                        <a asp-controller="Songs" asp-action="Index" class="d-flex flex-column align-items-center"><span class="day_color_main" style="font-size: 18px;">1104</span> <span class="text-muted">Songs</span></a>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("PublishPost", "Profile", FormMethod.Post))
            {
                <div class="card border-0 day_back_head overflow-auto rounded">
                    <div class="card-body p-2">
                        <textarea class="form-control item-font m-0 rounded-0 border-0" id="summer" name="content" placeholder="Tell us what's new?"></textarea>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            @if (Model.IdentityProfile.UrlAvatar == Targetcom.Env.DefaultImageUrl)
                            {
                                <img src="@Env.DefaultImageUrl" alt="Avatar" class="img-card rounded-circle" style="width: 38px; height: 38px;" />
                            }
                            else
                            {
                                <img src="@Model.IdentityProfile.UrlAvatar" alt="Avatar" class="img-card rounded-circle" style="width: 38px; height: 38px; " />
                            }
                            <div class="d-flex flex-column ml-2">
                                <p class="m-0 day_color_main" style="font-size: 14px;">
                                    @Model.IdentityProfile.Name
                                    @Model.IdentityProfile.Surname
                                    @if (Model.IdentityProfile.IsVerify)
                                    {
                                        <i class="fas fa-check" style="font-size: 13px;"></i>
                                    }
                                </p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn day_back_main text-light pl-4 pr-4 disable" style="font-size: 14px;" id="publishpost">Publish</button>
                            <script>
                                document.getElementById("summer").addEventListener("keyup", () => {
                                    if (document.getElementById("summer").value.length > 0) {
                                        document.getElementById("publishpost").classList.remove("disable");
                                    }
                                    else {
                                        document.getElementById("publishpost").classList.add("disable");
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            }
            <div class="d-flex">
                <div class="tabs" style="width: 100%">

                    <input type="radio" id="tab1" name="tab-control" checked>
                    <input type="radio" id="tab2" name="tab-control">
                    <ul>
                        <li title="All Post">
                            <label for="tab1" role="button">
                                <i class="far fa-newspaper"></i>
                                All Post
                            </label>
                        </li>

                        <li title="Shared post">
                            <label for="tab2" role="button">
                                <i class="fas fa-share-alt"></i>
                                Shared Post
                            </label>
                        </li>
                    </ul>

                    <div class="slider"><div class="indicator"></div></div>
                    <div class="content">
                        <section>
                            @if (Model.IdentityProfile.ProfilePostages.OrderByDescending(i => i.TimeStamp).Count() == 0)
                            {
                                <div class="d-flex rounded shadow-sm align-content-center justify-content-center day_back_head p-3 pt-5 pb-5">
                                    <i class="fas fa-globe text-primary" style="font-size: 30px;"></i>
                                    <h4 class="m-0 text-muted ml-2">Publish new post</h4>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex flex-column gap">
                                    @foreach (var item in Model.IdentityProfile.ProfilePostages.OrderByDescending(i => i.TimeStamp))
                                    {
                                        var id = $"item{item.Id}";
                                        <div class="card border-0 day_back_head rounded" style="font-size: 14px;">
                                            <div class="card-body p-3 d-flex flex-column position-relative">
                                                <div class="d-flex align-items-center">
                                                    <img src="@item.Writter.UrlAvatar" alt="Avatar" class="img-card rounded-circle" style="width: 38px; height: 38px; object-fit: cover;" />
                                                    <div class="d-flex flex-column ml-2">
                                                        <div class="d-flex">
                                                            <a class="text-primary" style="white-space:nowrap; cursor:pointer;">
                                                                @item.Writter.Name @item.Writter.Surname
                                                                @if (item.Profile.IsVerify)
                                                                {
                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                }
                                                            </a>
                                                            <p class="m-0 ml-2 text-muted">@item.Alert</p>
                                                        </div>
                                                        <p class="m-0 text-muted">@item.TimeStamp.ToString("MM.dd.yyyy")</p>
                                                    </div>
                                                    <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                        <div class="dropdown">
                                                            <button class="dropbtn" style="outline:0!important;"><i class="fas fa-chevron-down text-muted ml-auto" style="font-size: 16px;"></i></button>
                                                            <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                @using (Html.BeginForm(FormMethod.Post))
                                                                {
                                                                    <button type="submit" class="btn-link border-0 bg-transparent" asp-action="DeletePostagePost" asp-route-id="@item.Id" style="outline:0!important;">Delete post</button>
                                                                }
                                                                <hr class="m-1" />
                                                                @using (Html.BeginForm(FormMethod.Post))
                                                                {
                                                                    @if (item.IsNessessaredLikedPost)
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowLikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">Allow liked</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowLikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">Disallow liked</button>
                                                                    }
                                                                    @if (item.IsNessessaredSharedPost)
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowSharePostagePost" asp-route-id="@item.Id" style="outline:0!important;">Allow shared</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowSharePostagePost" asp-route-id="@item.Id" style="outline:0!important;">Disallow shared</button>
                                                                    }
                                                                    @if (item.IsNessessaredCommentedPost)
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowCommentPostagePost" asp-route-id="@item.Id" style="outline:0!important;">Allow comment</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-action="AllowCommentPostagePost" asp-route-id="@item.Id" style="outline:0!important;">Disallow comment</button>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (item.IsObject)
                                                {
                                                    <img src="@item.Content" alt="Avatar" class="rounded mb-3 mt-3" style="max-width: 300px; max-height: 300px;" />
                                                }
                                                else
                                                {
                                                    <p class="mb-2 mt-2">@item.Content</p>
                                                }
                                                <hr class="m-0" style="width: 100%;" />
                                                @using (Html.BeginForm(FormMethod.Post))
                                                {
                                                    <div class="d-flex mt-3 align-items-center">
                                                        @if (!item.IsNessessaredLikedPost)
                                                        {
                                                            if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                            {
                                                                <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId).ProfileId" style="outline:0!important;">
                                                                    <i class="fas fa-heart"></i>
                                                                    @if (item.LikedProfiles.Count != 0)
                                                                    {
                                                                        <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                    }
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                    <i class="far fa-heart"></i>
                                                                    @if (item.LikedProfiles.Count != 0)
                                                                    {
                                                                        <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                    }
                                                                </button>
                                                            }
                                                        }
                                                        @if (!item.IsNessessaredCommentedPost)
                                                        {
                                                            @if (item.IsObject)
                                                            {
                                                                <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                   style="outline:0!important;"
                                                                   data-toggle="modal" data-target="#@id">
                                                                    <i class="far fa-comment-alt"></i>
                                                                    @if (@item.ProfilePostageComments.Count > 0)
                                                                    {
                                                                        <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                    }
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                   style="outline:0!important;">
                                                                    <i class="far fa-comment-alt"></i>
                                                                    @if (@item.ProfilePostageComments.Count > 0)
                                                                    {
                                                                        <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                    }
                                                                </a>
                                                            }
                                                            <div class="modal fade" id="@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body p-0 d-flex">
                                                                            <img src="@item.Content" alt="Post" style="width:400px; height:400px;" />
                                                                            <div class="d-flex flex-column p-3 day_back_head rounded" style="white-space: nowrap; width: 100%;">
                                                                                <div class="d-flex justify-content-between">
                                                                                    <div class="d-flex align-items-center">
                                                                                        <img src="@item.Profile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                                        <div class="d-flex flex-column ml-2 justify-content-center">
                                                                                            <a class="m-0 d-flex align-items-center text-primary" style="cursor: pointer;">
                                                                                                @item.Profile.Name @item.Profile.Surname
                                                                                                @if (item.Profile.IsVerify)
                                                                                                {
                                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                                                }
                                                                                                <span class="text-muted ml-2">@item.Alert</span>
                                                                                            </a>
                                                                                            <p class="m-0 text-muted">@item.TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <hr class="mt-3 mb-3 ml-0 mr-0" />
                                                                                <div class="d-flex flex-column gap overflow-auto" style="height: 15.5rem;">
                                                                                    @for (int comment = 0; comment < item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Count(); ++comment)
                                                                                    {
                                                                                        <div class="d-flex" style="width: 100%;">
                                                                                            <img src="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                                            <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                                                                <div class="d-flex">
                                                                                                    <a class="m-0 text-primary" style="cursor: pointer;">
                                                                                                        @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                                        @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                                        {
                                                                                                            <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                                                                        }
                                                                                                    </a>
                                                                                                    @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                                    {
                                                                                                        <p class="m-0 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <p class="m-0 ml-2 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                                    }
                                                                                                    <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                                                                        <div class="dropdown">
                                                                                                            <a class="dropbtn text-primary" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 16px;"></i></a>
                                                                                                            <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                                                <button type="submit" class="btn-link border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <p class="m-0">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                                <hr class="mt-2 mb-3 ml-0 mr-0" />
                                                                                <div class="d-flex">
                                                                                    @if (!item.IsNessessaredLikedPost)
                                                                                    {
                                                                                        if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId) != null)
                                                                                        {
                                                                                            <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId).ProfileId" style="outline:0!important;">
                                                                                                <i class="fas fa-heart"></i>
                                                                                                @if (item.LikedProfiles.Count != 0)
                                                                                                {
                                                                                                    <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                                                }
                                                                                            </button>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                                                <i class="far fa-heart"></i>
                                                                                                @if (item.LikedProfiles.Count != 0)
                                                                                                {
                                                                                                    <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                                                }
                                                                                            </button>
                                                                                        }
                                                                                    }
                                                                                    <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                                       style="outline:0!important;">
                                                                                        <i class="far fa-comment-alt"></i>
                                                                                        @if (@item.ProfilePostageComments.Count > 0)
                                                                                        {
                                                                                            <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                                        }
                                                                                    </a>
                                                                                    <a class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none ml-4 text-primary"
                                                                                       style="outline:0!important;">
                                                                                        <i class="fas fa-share-alt"></i>
                                                                                        @if (item.SharedProfiles.Count != 0)
                                                                                        {
                                                                                            <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                                        }
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (!item.IsNessessaredSharedPost)
                                                        {
                                                            <a class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none ml-4 text-primary" style="outline:0!important;">
                                                                <i class="fas fa-share-alt"></i>
                                                                @if (item.SharedProfiles.Count != 0)
                                                                {
                                                                    <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                }
                                                            </a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            @if (!item.IsNessessaredCommentedPost)
                                            {
                                                <div class="card-footer">
                                                    @using (Html.BeginForm(FormMethod.Post))
                                                    {
                                                        <div class="d-flex flex-column gap">
                                                            @for (int comment = 0; comment < item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Take(2).Count(); ++comment)
                                                            {
                                                                <div class="d-flex" style="width: 100%;">
                                                                    <img src="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                    <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                                        <div class="d-flex">
                                                                            <a class="m-0 text-primary" style="cursor: pointer;">
                                                                                @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                {
                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                                }
                                                                            </a>
                                                                            <p class="m-0 ml-2 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                            <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                                                <div class="dropdown">
                                                                                    <a class="dropbtn" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 16px;"></i></a>
                                                                                    <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                        <button type="submit" class="btn-link border-0 bg-transparent" asp-controller="Profile" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <p class="m-0">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    <hr class="mt-3 mb-3" style="width: 100%;" />
                                                    @using (Html.BeginForm(FormMethod.Post))
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <img src="@Model.IdentityProfile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                            <input name="youcomment" class="ml-2 bg-transparent border-0" placeholder="Enter your commentaries" style="outline: 0!important; width: 100%;" />
                                                            <button type="submit" class="btn day_back_main text-light ml-auto" style="font-size: 14px; max-height: 2.5rem;" asp-action="CommentPublishPost" asp-route-id="@item.Id">Comment</button>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </section>
                        <section>
                            @if (Model.IdentityProfile.SharedProfilePostages.Where(w => w.ProfileId == Model.IdentityProfile.Id).OrderByDescending(i => i.Postage.TimeStamp).Count() == 0)
                            {
                                <div class="d-flex rounded shadow-sm align-content-center justify-content-center day_back_head p-3 pt-5 pb-5">
                                    <i class="fas fa-share-alt-square text-primary" style="font-size: 30px;"></i>
                                    <h4 class="m-0 text-muted ml-2">Share favorite post</h4>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex flex-column gap">
                                    @foreach (var item in Model.IdentityProfile.SharedProfilePostages.Where(w => w.ProfileId == Model.IdentityProfile.Id).OrderByDescending(i => i.Postage.TimeStamp).Select(s => s.Postage))
                                    {
                                        var id = $"item{item.Id}";
                                        <div class="card border-0 day_back_head rounded" style="font-size: 14px;">
                                            <div class="card-body p-3 d-flex flex-column position-relative">
                                                <div class="d-flex align-items-center">
                                                    <img src="@item.Writter.UrlAvatar" alt="Avatar" class="img-card rounded-circle" style="width: 38px; height: 38px; object-fit: cover;" />
                                                    <div class="d-flex flex-column ml-2">
                                                        <div class="d-flex">
                                                            <a class="text-primary" style="white-space: nowrap; cursor: pointer;">
                                                                @item.Writter.Name @item.Writter.Surname
                                                                @if (item.Profile.IsVerify)
                                                                {
                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                }
                                                            </a>
                                                            <p class="m-0 ml-2 text-muted">Shared post</p>
                                                        </div>
                                                        <p class="m-0 text-muted">@item.TimeStamp.ToString("MM.dd.yyyy")</p>
                                                    </div>
                                                </div>
                                                @if (item.IsObject)
                                                {
                                                    <img src="@item.Content" alt="Avatar" class="rounded mb-3 mt-3" style="max-width: 300px; max-height: 300px;" />
                                                }
                                                else
                                                {
                                                    <p class="mb-2 mt-2">@item.Content</p>
                                                }
                                                <hr class="m-0" style="width: 100%;" />
                                                @using (Html.BeginForm(FormMethod.Post))
                                                {
                                                    <div class="d-flex mt-3 align-items-center">
                                                        @if (!item.IsNessessaredLikedPost)
                                                        {
                                                            if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                            {
                                                                <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId).ProfileId" style="outline:0!important;">
                                                                    <i class="fas fa-heart"></i>
                                                                    @if (item.LikedProfiles.Count != 0)
                                                                    {
                                                                        <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                    }
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                    <i class="far fa-heart"></i>
                                                                    @if (item.LikedProfiles.Count != 0)
                                                                    {
                                                                        <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                    }
                                                                </button>
                                                            }
                                                        }
                                                        @if (!item.IsNessessaredCommentedPost)
                                                        {
                                                            @if (item.IsObject)
                                                            {
                                                                <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                   style="outline:0!important;"
                                                                   data-toggle="modal" data-target="#@id">
                                                                    <i class="far fa-comment-alt"></i>
                                                                    @if (@item.ProfilePostageComments.Count > 0)
                                                                    {
                                                                        <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                    }
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                   style="outline:0!important;">
                                                                    <i class="far fa-comment-alt"></i>
                                                                    @if (@item.ProfilePostageComments.Count > 0)
                                                                    {
                                                                        <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                    }
                                                                </a>
                                                            }
                                                            <div class="modal fade" id="@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body p-0 d-flex">
                                                                            <img src="@item.Content" alt="Post" style="width:400px; height:400px;" />
                                                                            <div class="d-flex flex-column p-3 day_back_head rounded" style="white-space: nowrap; width: 100%;">
                                                                                <div class="d-flex justify-content-between">
                                                                                    <div class="d-flex align-items-center">
                                                                                        <img src="@item.Profile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                                        <div class="d-flex flex-column ml-2 justify-content-center">
                                                                                            <a class="m-0 d-flex align-items-center text-primary" style="cursor: pointer;">
                                                                                                @item.Profile.Name @item.Profile.Surname
                                                                                                @if (item.Profile.IsVerify)
                                                                                                {
                                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                                                }
                                                                                                <span class="text-muted ml-2">Shared post</span>
                                                                                            </a>
                                                                                            <p class="m-0 text-muted">@item.TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <hr class="mt-3 mb-3 ml-0 mr-0" />
                                                                                <div class="d-flex flex-column gap overflow-auto" style="height: 15.5rem;">
                                                                                    @for (int comment = 0; comment < item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Count(); ++comment)
                                                                                    {
                                                                                        <div class="d-flex" style="width: 100%;">
                                                                                            <img src="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                                            <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                                                                <div class="d-flex">
                                                                                                    <a class="m-0 text-primary" style="cursor: pointer;">
                                                                                                        @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                                        @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                                        {
                                                                                                            <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                                                                        }
                                                                                                    </a>
                                                                                                    @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                                    {
                                                                                                        <p class="m-0 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <p class="m-0 ml-2 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                                                    }
                                                                                                    @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentatorId == Model.IdentityProfile.Id)
                                                                                                    {
                                                                                                        <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                                                                            <div class="dropdown">
                                                                                                                <a class="dropbtn" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 16px;"></i></a>
                                                                                                                <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                                                    <button type="submit" class="btn-link border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                </div>
                                                                                                <p class="m-0">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                                <hr class="mt-2 mb-3 ml-0 mr-0" />
                                                                                <div class="d-flex">
                                                                                    @if (!item.IsNessessaredLikedPost)
                                                                                    {
                                                                                        if (item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId) != null)
                                                                                        {
                                                                                            <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@item.LikedProfiles.FirstOrDefault(i => i.ProfileId == item.ProfileId).ProfileId" style="outline:0!important;">
                                                                                                <i class="fas fa-heart"></i>
                                                                                                @if (item.LikedProfiles.Count != 0)
                                                                                                {
                                                                                                    <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                                                }
                                                                                            </button>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@item.Id" style="outline:0!important;">
                                                                                                <i class="far fa-heart"></i>
                                                                                                @if (item.LikedProfiles.Count != 0)
                                                                                                {
                                                                                                    <strong class="ml-1">@item.LikedProfiles.Count</strong>
                                                                                                }
                                                                                            </button>
                                                                                        }
                                                                                    }
                                                                                    <a class="btn-link border-0 text-primary bg-transparent d-flex align-items-center text-decoration-none ml-4"
                                                                                       style="outline:0!important;">
                                                                                        <i class="far fa-comment-alt"></i>
                                                                                        @if (@item.ProfilePostageComments.Count > 0)
                                                                                        {
                                                                                            <strong class="ml-1">@item.ProfilePostageComments.Count</strong>
                                                                                        }
                                                                                    </a>
                                                                                    @if (item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                                                    {
                                                                                        <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none ml-4" asp-action="UnsharePostagePost" asp-route-id="@item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                                                            <i class="fas fa-share-alt"></i>
                                                                                            @if (item.SharedProfiles.Count != 0)
                                                                                            {
                                                                                                <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                                            }
                                                                                        </button>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (!item.IsNessessaredSharedPost)
                                                        {
                                                            if (item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                                            {
                                                                <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none ml-4" asp-action="UnsharePostagePost" asp-route-id="@item.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                                    <i class="fas fa-share-alt"></i>
                                                                    @if (item.SharedProfiles.Count != 0)
                                                                    {
                                                                        <strong class="ml-1">@item.SharedProfiles.Count</strong>
                                                                    }
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </div>
                                            @if (!item.IsNessessaredCommentedPost)
                                            {
                                                <div class="card-footer">
                                                    @using (Html.BeginForm(FormMethod.Post))
                                                    {
                                                        <div class="d-flex flex-column gap">
                                                            @for (int comment = 0; comment < item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Take(2).Count(); ++comment)
                                                            {
                                                                <div class="d-flex" style="width: 100%;">
                                                                    <img src="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                                    <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                                        <div class="d-flex">
                                                                            <a class="m-0 text-primary" style="cursor: pointer;">
                                                                                @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                                                @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                                                {
                                                                                    <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                                                }
                                                                            </a>
                                                                            <p class="m-0 ml-2 text-muted">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("MM.dd.yyyy")</p>
                                                                            @if (item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentatorId == Model.IdentityProfile.Id)
                                                                            {
                                                                                <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                                                    <div class="dropdown">
                                                                                        <a class="dropbtn" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 16px;"></i></a>
                                                                                        <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                                            <button type="submit" class="btn-link border-0 bg-transparent" asp-controller="Profile" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <p class="m-0">@item.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    <hr class="mt-3 mb-3" style="width: 100%;" />
                                                    @using (Html.BeginForm(FormMethod.Post))
                                                    {
                                                        <div class="d-flex align-items-center">
                                                            <img src="@Model.IdentityProfile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                                            <input name="youcomment" class="ml-2 bg-transparent border-0" placeholder="Enter your commentaries" style="outline: 0!important; width: 100%;" />
                                                            <button type="submit" class="btn day_back_main text-light ml-auto" style="font-size: 14px; max-height: 2.5rem;" asp-action="CommentPublishPost" asp-route-id="@item.Id">Comment</button>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

