@model Targetcom.Models.ViewModels.ImagePostComponentVM;

@{ var id = Model.Guid.ToString(); }

<div class="d-flex flex-column rounded day_back_default" style="width:240px;">
    <div class="d-flex justify-content-center">
        <img src="@Model.ImageModel.Content" class="rounded " style="width:240px; height:240px;" />
    </div>
    <div class="p-3 d-flex justify-content-center align-items-center border-bottom" style="gap: 5px;">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @if (!Model.ImageModel.IsNessessaredLikedPost)
            {
                if (Model.ImageModel.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                {
                    <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover position-relative post" style="height: 40px; min-width: 60px">
                        <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@Model.ImageModel.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.ImageModel.ProfileId).ProfileId" style="outline:0!important;">
                            <i class="fas fa-heart"></i>
                            @if (Model.ImageModel.LikedProfiles.Count != 0)
                            {
                                <strong class="ml-1">@Model.ImageModel.LikedProfiles.Count</strong>
                                <div class="position-absolute rounded-pill day_back_headlight pt-1 pb-1 pr-2 pl-2 likes gap shadow" style="top: -60px; left:0;">
                                    @foreach (var like in Model.ImageModel.LikedProfiles.Take(3))
                                    {
                                        <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                                    }
                                </div>
                            }
                        </button>
                    </div>
                }
                else
                {
                    <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover position-relative post" style="height: 40px; min-width: 60px">
                        <button type="submit" class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@Model.ImageModel.Id" style="outline:0!important;">
                            <i class="far fa-heart text-primary d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                            @if (Model.ImageModel.LikedProfiles.Count != 0)
                            {
                                <strong class="ml-1 m-0 text-muted">@Model.ImageModel.LikedProfiles.Count</strong>
                                <div class="position-absolute rounded-pill day_back_headlight pt-1 pb-1 pr-2 pl-2 likes gap shadow" style="top: -60px; left:0;">
                                    @foreach (var like in Model.ImageModel.LikedProfiles.Take(3))
                                    {
                                        <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                                    }
                                </div>
                            }
                        </button>
                    </div>
                }
            }
        }
        @if (!Model.ImageModel.IsNessessaredCommentedPost)
        {
            @if (Model.ImageModel.IsObject)
            {
                <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 hover"
                     data-toggle="modal" data-target="#tips-@id"
                     style="height: 40px; min-width: 60px">
                    <a class="btn-link border-0 day_color_main bg-transparent d-flex justify-content-center align-items-center text-decoration-none"
                       style="outline:0!important; cursor:pointer;">
                        <i class="far fa-comment-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                        @if (Model.ImageModel.ProfilePostageComments.Count > 0)
                        {
                            <strong class="ml-1 m-0 text-muted">@Model.ImageModel.ProfilePostageComments.Count</strong>
                        }
                    </a>
                </div>
            }
            <div class="modal fade" id="tips-@id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body p-0 d-flex border-0 rounded" style="height: 400px; font-size: 14px;">
                            <img src="@Model.ImageModel.Content" alt="Post" style="width:400px; height:400px;" />
                            <div class="d-flex flex-column p-3 day_back_head border-0" style="white-space: nowrap; width: 100%;">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="@Model.ImageModel.Profile.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                        <div class="d-flex flex-column ml-2 justify-content-center">
                                            @if (@Model.ImageModel.Profile.Id == Model.IdentityProfile.Id)
                                            {
                                                <div class="m-0 d-flex align-items-center day_color_main" style="cursor: pointer;">
                                                    <a class="m-0 d-flex align-items-center day_color_main" asp-controller="Profile" asp-action="Index" style="cursor: pointer;">@Model.ImageModel.Profile.Name @Model.ImageModel.Profile.Surname</a>
                                                    @if (Model.ImageModel.Profile.IsVerify)
                                                    {
                                                        <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                    }
                                                    <span class="text-muted ml-2">@Model.ImageModel.Alert</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="m-0 d-flex align-items-center day_color_main" style="cursor: pointer;">
                                                    <a class="m-0 d-flex align-items-center day_color_main" asp-controller="Friends" asp-action="ViewProfile" asp-route-id="@Model.ImageModel.Profile.Id" style="cursor: pointer;">@Model.ImageModel.Profile.Name @Model.ImageModel.Profile.Surname</a>
                                                    @if (Model.ImageModel.Profile.IsVerify)
                                                    {
                                                        <i class="fas fa-check day_color_main ml-1" style="font-size: 11px;"></i>
                                                    }
                                                    <span class="text-muted ml-2">@Model.ImageModel.Alert</span>
                                                </div>
                                            }
                                            <p class="m-0 text-muted">@Model.ImageModel.TimeStamp.ToString("dd.MM.yyyy")</p>
                                        </div>
                                    </div>
                                    <a class="text-decoration-none" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times text-muted" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <hr class="mt-3 mb-3 ml-0 mr-0" />
                                <div class="d-flex flex-column gap overflow-auto" style="height: 15.5rem;">
                                    @if (!Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Any())
                                    {
                                        <h4 class="text-center day_color_font">Write first comment</h4>
                                    }
                                    @for (int comment = 0; comment < Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).Count(); ++comment)
                                    {
                                        <div class="d-flex" style="width: 100%;">
                                            <img src="@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.UrlAvatar" class="rounded-circle border-0" alt="Avatar" style="width: 38px; height: 38px;" />
                                            <div class="d-flex flex-column ml-2" style="width: 100%;">
                                                <div class="d-flex">
                                                    @if (Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Id == Model.IdentityProfile.Id)
                                                    {
                                                        <a class="m-0 day_color_main" asp-controller="Profile" asp-action="Index" style="cursor: pointer;">
                                                            @Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                            @if (Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                            {
                                                                <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                            }
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="m-0 day_color_main" asp-controller="Friends" asp-action="ViewProfile" asp-route-id="@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Id" style="cursor: pointer;">
                                                            @Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Name @Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.Surname
                                                            @if (Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                            {
                                                                <i class="fas fa-check day_color_main ml-1" style="font-size: 10px;"></i>
                                                            }
                                                        </a>
                                                    }
                                                    @if (Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentator.IsVerify)
                                                    {
                                                        <p class="m-0 text-muted">@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("dd.MM.yyyy")</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="m-0 ml-2 text-muted">@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].TimeStamp.ToString("dd.MM.yyyy")</p>
                                                    }
                                                    <div class="ml-auto" style="font-family:Poppins, sans-serif; font-size: 14px;">
                                                        @if (Model.ImageModel.ProfileId == Model.IdentityProfile.Id)
                                                        {
                                                            <div class="dropdown">
                                                                <a class="dropbtn day_color_main" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 18px;"></i></a>
                                                                <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                    <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                </div>
                                                            </div>
                                                        }
                                                        else if (Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].ProfileCommentatorId == Model.IdentityProfile.Id)
                                                        {
                                                            <div class="dropdown">
                                                                <a class="dropbtn day_color_main" style="outline:0!important;"><i class="fas fa-ellipsis-h text-muted ml-auto" style="font-size: 18px;"></i></a>
                                                                <div class="dropdown-content day_back_head rounded p-2 shadow">
                                                                    <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-action="DeleteProfilePostageCommentPost" asp-route-id="@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Id" style="outline:0!important;">Delete comment</button>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <p class="m-0">@Model.ImageModel.ProfilePostageComments.OrderByDescending(e => e.TimeStamp).ToList()[comment].Comment</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <hr class="mt-2 mb-3 ml-0 mr-0" />
                                <div class="d-flex gap">
                                    @if (!Model.ImageModel.IsNessessaredLikedPost)
                                    {
                                        if (Model.ImageModel.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                        {
                                            <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                <button type="submit" class="btn-link border-0 m-0 bg-transparent text-danger d-flex justify-content-center align-items-center text-decoration-none" asp-action="DislikePostagePost" asp-route-id="@Model.ImageModel.LikedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                    <i class="fas fa-heart d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                    @if (Model.ImageModel.LikedProfiles.Count != 0)
                                                    {
                                                        <strong class="ml-1 m-0 text-danger">@Model.ImageModel.LikedProfiles.Count</strong>
                                                    }
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                <button type="submit" class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none" asp-action="LikePostagePost" asp-route-id="@Model.ImageModel.Id" style="outline:0!important;">
                                                    <i class="far fa-heart text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                    @if (Model.ImageModel.LikedProfiles.Count != 0)
                                                    {
                                                        <strong class="ml-1 m-0 text-muted">@Model.ImageModel.LikedProfiles.Count</strong>
                                                    }
                                                </button>
                                            </div>
                                        }
                                    }
                                    <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover"
                                         style="height: 40px; min-width: 60px">
                                        <a class="btn-link border-0 day_color_main bg-transparent d-flex justify-content-center align-items-center text-decoration-none"
                                           style="outline:0!important;">
                                            <i class="far fa-comment-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                            @if (@Model.ImageModel.ProfilePostageComments.Count > 0)
                                            {
                                                <strong class="ml-1 m-0 text-muted">@Model.ImageModel.ProfilePostageComments.Count</strong>
                                            }
                                        </a>
                                    </div>
                                    @if (!Model.ImageModel.IsNessessaredSharedPost)
                                    {
                                        if (Model.ImageModel.ProfileId == Model.IdentityProfile.Id)
                                        {
                                            <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                <a class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none day_color_main" style="outline:0!important;">
                                                    <i class="fas fa-share-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                                                    @if (Model.ImageModel.SharedProfiles.Count != 0)
                                                    {
                                                        <strong class="ml-1 text-muted">@Model.ImageModel.SharedProfiles.Count</strong>
                                                    }
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.ImageModel.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id) != null)
                                            {
                                                <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                    <button type="submit" class="btn-link border-0 bg-transparent text-danger d-flex align-items-center text-decoration-none" asp-controller="Home" asp-action="DissharePostagePost" asp-route-id="@Model.ImageModel.SharedProfiles.FirstOrDefault(i => i.ProfileId == Model.IdentityProfile.Id).ProfileId" style="outline:0!important;">
                                                        <i class="fas fa-share-alt"></i>
                                                        @if (Model.ImageModel.SharedProfiles.Count != 0)
                                                        {
                                                            <strong class="ml-1">@Model.ImageModel.SharedProfiles.Count</strong>
                                                        }
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="rounded-pill day_back_headlight d-flex justify-content-center align-items-center p-2 hover" style="height: 40px; min-width: 60px">
                                                    <button type="submit" class="btn-link border-0 bg-transparent d-flex align-items-center text-decoration-none" asp-controller="Home" asp-action="SharePostagePost" asp-route-id="@Model.ImageModel.Id" style="outline:0!important;">
                                                        <i class="fas fa-share-alt"></i>
                                                        @if (Model.ImageModel.SharedProfiles.Count != 0)
                                                        {
                                                            <strong class="ml-1">@Model.ImageModel.SharedProfiles.Count</strong>
                                                        }
                                                    </button>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!Model.ImageModel.IsNessessaredSharedPost)
        {
            <div class="rounded-pill day_back_head d-flex justify-content-center align-items-center p-2 position-relative post" style="height: 40px; min-width: 60px">
                <a class="btn-link border-0 bg-transparent d-flex justify-content-center align-items-center text-decoration-none day_color_main" style="outline:0!important;">
                    <i class="fas fa-share-alt text-muted d-flex justify-content-center align-items-center m-0" style="font-size: 18px;"></i>
                    @if (Model.ImageModel.SharedProfiles.Count != 0)
                    {
                        <strong class="ml-1 text-muted">@Model.ImageModel.SharedProfiles.Count</strong>
                        <div class="position-absolute rounded-pill day_back_headlight pt-2 pb-2 pr-3 pl-3 likes gap shadow" style="top: -60px; left:0;">
                            @foreach (var like in Model.ImageModel.SharedProfiles.Take(3))
                            {
                                <img src="@like.Profile.UrlAvatar" class="rounded-circle" style="width: 38px; height: 38px;" />
                            }
                        </div>
                    }
                </a>
            </div>

        }
        @if (Model.IdentityProfile.Id == Model.ImageModel.ProfileId)
        {
            <div class="dropdown">
                <button class="dropbtn" style="outline:0!important;"><i class="fas fa-chevron-down text-muted ml-auto" style="font-size: 16px;"></i></button>
                <div class="dropdown-content day_back_head rounded p-2 shadow">
                    @using (Html.BeginForm(FormMethod.Post))
                    {
                        <button type="submit" class="btn-link day_color_font border-0 bg-transparent" asp-controller="Images" asp-action="SetAvatar" asp-route-url="@Model.ImageModel.Content" style="outline:0!important;">Set as avatar</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
